[% INCLUDE 'includes/header.inc' %]

<NCIPMessage>
    <[% messagetype %]>
       <ResponseHeader>
            <FromAgencyId>
              <AgencyId>[% fromagency %]</AgencyId>
            </FromAgencyId>
            <ToAgencyId>
               <AgencyId>[% toagency %]</AgencyId>
            </ToAgencyId>
        </ResponseHeader>
    [% myfile = "includes/$messagetype" _ ".inc" %]
    [% INCLUDE $myfile %]    
    </[% messagetype %]>
</NCIPMessage>


